<p>login-form works!</p>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
<input ngModel name="username" type="text" placeholder="username" />

<input ngModel name="password" type="password" placeholder="password" />

<button type="submit">Login</button>
</form>
<button (click)="showToken()">Show token</button>
<button (click)="logout()">Logout</button>


