<a routerLink="">Home</a>
<a routerLink="login">Login</a>
<a routerLink="notes">Notes</a>
<div>
    <ng-container *ngIf="!isLoggedIn; then login else logout">
  </ng-container>
  <ng-template #login>
    Login
  </ng-template>
  <ng-template #logout>
    Logout
  </ng-template>
</div>

<router-outlet></router-outlet>